{{ define "title" }}
    {{ .Title }} | SpiderOak Share Support Documentation
{{ end }}

{{ define "main" }}
    <article>
        <h1 style="color:{{ .Params.color }};">Single Template</h1>

            {{ $title := .Title }}
            {{ range .Site.Pages}}
                <li><a href="{{.URL}}" style="{{ if eq .Title $title }} {{ end }}">{{.Title}}</a></li>
                <!-- if the Title that's currently being iterated through is the same as the title of the page we're currently looking at -->
                <!-- then style -->
                <!-- end  -->
                
            {{ end }}


        <h2>{{ .Title }}</h2>
        <h4>{{ .Date }}</h4>
        {{ .Params.myVar }}

        {{ .Content }}

        {{ $var1 := "dog" }}
        {{ $var2 := "cat" }}
        
        {{ if eq $var1 $var2 }}   
          True, dogs and cats are equal
        {{ else }}
          False, dogs and cats are not equal
        {{ end }}

        
    </article>
    
{{ end }}


